* { box-sizing: border-box; padding: 0; margin: 0; font-family: 'Roboto', sans-serif;}

header {
    padding: 1rem;
    margin-bottom: 3rem;
    background-color: #fff;
    text-align: center;
}

body {
    background: rgb(40, 40, 40);
}

.field h2 {
    text-align: center;
}


/* Game Field */
.grid {
    width: 500px;
    height: 500px;
    margin: 60px auto;
    border: 2px solid rgb(164, 1, 1);
    display: flex;
    flex-wrap: wrap;
}

.square {
    width: calc(100% / 10);
    height: calc(100% / 10);
    border:  2px solid rgb(123, 24, 24);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
}

.num {
    display: none;
}

.red {
    background-image: url("https://preview.redd.it/wv4wwga64hf51.jpg?auto=webp&s=4b8f25a9fd373fe800e76f3a5914dee0810a44fd");
    background-size: cover;
}

.green {
    background: green;
}