* { box-sizing: border-box; padding: 0; margin: 0; font-family: 'Roboto', sans-serif;}

header {
    padding: 5rem;
    margin-bottom: 3rem;
    background-color: #fff;
    text-align: center;
    background-image: url("./img/doom-banner.webp");
    background-size: 100% 180%;
    background-position: center;
    background-repeat: no-repeat;
    border-bottom: 2px solid rgb(164, 1, 1);
}

.selector {
    background: orangered;
    width: 20%;
    height: 50px;
    margin: 14px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 20px;
    border: 2px solid black;
}

button, select {
    padding: 5px;
}

body {
    background: rgb(40, 40, 40);
}

.field h2 {
    text-align: center;
    color: orangered;
}


/* Game Field */
.grid {
    width: 500px;
    height: 500px;
    margin: 60px auto;
    border: 2px solid rgb(164, 1, 1);
    display: flex;
    flex-wrap: wrap;
}

.square {
    width: calc(100% / 10);
    height: calc(100% / 10);
    border:  2px solid rgb(123, 24, 24);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
}

.num {
    display: none;
}

.red {
    background-image: url("./img/doom-demon.png");
    background-size: cover;
    background-color: orangered;
}

.green {
    background: green;
}